<%- include('header'); -%>
<!-- <div></div> -->
<div class="box" id="heading">
    <h1> <%= Typeactivity %></h1>

</div>
<div class="box" id="heading">
        <h1 >My name is payal creater of the list</h1>
</div>
    
<%- include('footer'); -%>
